.Login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.login{
    display: flex;
    flex-direction: column;
}

.info > label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
} 

.Page{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 40px;
}

.Form{
    width: 500px;
    height: 250px;
    background-color: #FFBC4B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form > a{
    margin-right: 28%;
    margin-bottom: 20px;
}

#submitButton{
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #3948DF;
    cursor: pointer;
    font-size: 15px;
}

#submitButton:hover{
    background-color: blue;
}

.inputForm{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
    font-size: 15px;
}

.info{
    margin: 20px;
}

.twoFactor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.twoFactor > p{
    margin: 20px;
}