.overlay{
    border-radius: 5px;
    padding: 5%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFBC4B;
}

#btnReservar{
    width: 100px;
    height: 40px;
    background-color: #3948DF;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
}

#btnReservar:hover{
    background-color:rgb(22, 46, 235);
}

h4 {
    text-align: center;
}