*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #000000;
}
.grid-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 1fr 1fr;
    grid-template-areas: "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
                         "banner banner banner banner banner banner banner banner banner banner banner banner"
                         "banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1"
                         "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
                         "image-container image-container image-container image-container image-container image-container image-container image-container image-container image-container image-container image-container"
                         "content content content content content content content content content content content content"
                         "banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2"
                         "banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";

                         .navbar{
                            background-color: #ffffffb4;
                            grid-area: navbar;
                            display: flex;
                            position: fixed;
                            width: 100%;
                            z-index: 1000;
                                .logo{
                                  flex: 1;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                    img{
                                        width: 80%;
                                    }
                                }
                                nav{
                                    flex: 1;
                                    display: flex;
                                    justify-content: center;
                                    ul{
                                        display: flex;
                                        list-style: none;
                                        li a{
                                            text-decoration: none;
                                            font-size: 35px;
                                            font-weight: bold;
                                            color: rgb(5, 5, 5);
                                        }
                                        li a:hover{
                                            color: rgb(255, 255, 255);
                                            padding-bottom: 5px;
                                            border-bottom: 1px solid #FFF;
                                        }
                                    }
                                }
                                .btn-light{
                                    flex: 1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: transparent;
                                    .btn{
                                        color: #000000;
                                        padding: 10px;
                                        width: 120px;
                                        font-size: 15px;
                                        background-color: transparent;
                                        border: 1px solid #2d2d2d;
                                        border-radius: 20px;
                                    }
                                    .btn:hover{
                                        background-color: #ffffffb7;
                                    }
                                }

                            }
                            .banner{
                                grid-area: banner;
                                background-image: url('../img/tep-1.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
                                background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
                                background-position: center; /* Centra la imagen dentro del elemento */
                                min-height: 500px;
                                .text-flayer{
                                    max-width: 90%;
                                    margin: auto;
                                    display: flex;
                                    flex-direction: column;
                                    margin-top: 200px;
                                    gap: 10px;
                                    h1{
                                        font-size: 35px;
                                        text-align: center;
                                        color: #FFBC4B;
                                        background-color: #000000c8;
                                        border-radius: 20px;
                                    }
                                    h2{
                                        text-align: center;
                                        font-size: 30px;
                                        color: #ffffff;
                                    }
                                    p{
                                        font-size: 25px;
                                        color: #ffffff;
                                    }
                                }
                            }
                            .banner-1{
                                grid-area: banner-1;
                                background-image: url('../img/tep-2.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
                                background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
                                background-position: center; /* Centra la imagen dentro del elemento */
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                min-height: 500px;
                                .card-1{
                                    width: 100%;
                                    height: 70%;
                                    display: flex;
                                    background-color: #ffffffc9;
                                    justify-content: space-around;
                                    text-align: left;
                                    flex-direction: column;
                                    border-radius: 20px;
                                    p{
                                        margin: auto;
                                    }
                                    a{
                                        text-decoration: none;
                                        border-radius: 20px;
                                        font-weight: bold;
                                        color: #000000;
                                        background-color: #FFBC4B;
                                        font-size: 20px;
                                        padding: 10px 0;
                                        width: 40%;
                                        margin: auto;
                                        cursor: pointer;
                                        text-align: center;
                                    }
                                    a:hover{
                                        color: #FFBC4B;
                                        background-color: #000000;
                                    }
                                    .title-card-1{
                                        font-size: 25px;
                                        font-weight: bold;
                                        color: #070056;
                                        margin: auto;
                                    }
                                    .subtitle-card-1{
                                        font-size: 20px;
                                        font-weight: bold;
                                        color: #000000;
                                        margin: auto;
                                    }
                                    
                                }
                            }
                            .sidebar {
                                grid-area: sidebar;
                                width: 100%;
                                background-color: #ffffff;
                                color: #000000;
                                display: flex;
                                flex-direction: column;
                                padding: 20px;
                                .menu-item {
                                    margin-bottom: 20px;
                                    cursor: pointer;
                                    padding: 10px;
                                    border-radius: 5px;
                                    transition: background-color 0.3s;
                                }
                                
                                .menu-item:hover, .menu-item.active {
                                    background-color: #535353;
                                    color: #fafafa;
                                }
                                
                                .menu-item h3 {
                                    margin: 0 0 5px 0;
                                    font-size: 18px;
                                }
                                
                                .menu-item p {
                                    margin: 0;
                                    font-size: 14px;
                                }
                            }

                            .content {
                                grid-area: content;
                                width: 100%;
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                background-color: #FFBC4B;
                            
                                .features p {
                                    margin: 10px 0;
                                    font-size: 20px;
                                }
                            }
                            
                            .image-container {
                                grid-area: image-container;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 20px;

                                img {
                                    max-width: 100%;
                                    border-radius: 8px;
                                }
                            }

                            .large-text p {
                                font-size: 25px; /* Puedes ajustar el tamaño según tus necesidades */
                                line-height: 1.6;
                            }
                            .banner-2{
                                grid-area: banner-2;
                                background-color: #FFF;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;
                                min-height: 300px;
                                .title-card-1{
                                    font-size: 25px;
                                    font-weight: bold;
                                    color: #070056;
                                    text-align: center;
                                }
                                .card-1{
                                    width: 100%;
                                    display: flex;
                                    background-color: #ffffffc9;
                                    justify-content: space-around;
                                    text-align: left;
                                    flex-direction: column;
                                    border-radius: 20px;
                                    p{
                                        margin: auto;
                                    }
                                    a{
                                        text-decoration: none;
                                        border-radius: 20px;
                                        font-weight: bold;
                                        color: #000000;
                                        background-color: #FFBC4B;
                                        font-size: 20px;
                                        padding: 10px 0;
                                        width: 40%;
                                        margin: auto;
                                        cursor: pointer;
                                        text-align: center;
                                    }
                                    a:hover{
                                        color: #FFBC4B;
                                        background-color: #000000;
                                    }
                                    .title-card-1{
                                        font-size: 25px;
                                        font-weight: bold;
                                        color: #070056;
                                        margin: auto;
                                    }
                                    .subtitle-card-1{
                                        font-size: 20px;
                                        font-weight: bold;
                                        color: #000000;
                                        margin: auto;
                                    }
                                    
                                }
                            }
                            .banner-3{
                                grid-area: banner-3;
                                background-color: #000000;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;
                                padding: 20px;
                                gap: 20px;
                                .title-card-1{
                                    font-size: 30px;
                                    font-weight: bold;
                                    color: #fafafa;
                                    text-align: center;

                                }
                                .subtitle-card-1{
                                    font-size: 25px;
                                    text-align: center;
                                    color: #ffffff;
                                    width: 90%;
                                    margin: auto;

                                }
                            }
                            .carousel-item{
                                img{
                                    max-width: 30%;
                                }
                            }
                            .card-footer{
                                .subtitle-card-1{
                                    color: black;
                                }
                            }
                            .footer{
                                grid-area: footer;
                                background-color: #FFF;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                align-items: center;
                                justify-content: space-around;
                                    .logo-nick a{
                                        font-size: 30px;
                                        color: #000000;
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: center;
                                        img{
                                        width: 40%;
                                    }
                                }
                                .footer-hijo{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;

                                    .contacto{
                                        flex: 1;
                                        .title-contacto{
                                            color: rgb(0, 0, 0);
                                            font-size: 30px;
                                            font-weight: bold;
                                        }
                                    }
                                    .informacion{
                                        flex: 1;
                                        p{
                                            font-size: 20px;
                                            font-weight: 400;
                                        }
                                    }
                                }
                                .redes{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;

                                    .title-redes{
                                        font-size: 25px;
                                        color: #000000;
                                        font-weight: bold;
                                    }
                                    .iconos-redes{
                                        display: flex;
                                        justify-content: space-between;
                                        a{
                                            flex: 1;
                                        }
                                        img{
                                            width: 64px;
                                            height: 64px;
                                        }
                                    }
                                }
                                .derechos{
                                    background-color: black;
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #FFF;
                                    font-weight: bold;
                                    font-size: 17px;
                                }

                            }
                            @media (min-width: 576px) {
                                grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
                                grid-template-areas: "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
                                                     "banner banner banner banner banner banner banner banner banner banner banner banner"
                                                     "banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1 banner-1"
                                                     "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
                                                     "content content content content content content content content content content content content"
                                                     "image-container image-container image-container image-container image-container image-container image-container image-container image-container image-container image-container image-container"
                                                     "banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2"
                                                     "banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3"
                                                     "footer footer footer footer footer footer footer footer footer footer footer footer";
                                                     .banner{
                                                        max-width: 100%;
                                                        height: 100%;
                                                     }
                                                    .banner-1{
                                                        max-width: 100%;
                                                        height: 100%;
                                                    } 
                                                    .banner-2{
                                                        height: 80%;
                                                        .card-1{
                                                            height: 80%;
                                                            width: 80%;
                                                        }
                                                    }
                            
                            
                            }  
                            @media (min-width: 768px) {
                                grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
                                grid-template-areas: "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
                                                     "banner banner banner banner banner banner banner banner banner-1 banner-1 banner-1 banner-1"
                                                     "sidebar sidebar sidebar sidebar content content content content content image-container image-container image-container"
                                                     "iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container iframe-container"
                                                     "banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2 banner-2"
                                                     "banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3 banner-3"
                                                     "footer footer footer footer footer footer footer footer footer footer footer footer";
                                                     
                                                    .navbar{
                                                            .logo{
                                                                img{
                                                                    width: 40%;
                                                                }
                                                            }
                                                        }
                                                     .banner-1{
                                                        .card-1{
                                                            .subtitle-card-1{
                                                                text-align: center;
                                                            }
                                                            margin-top: 100px;
                                                            max-width: 90%;
                                                            height: 60%;
                                                                a{
                                                                    width: 80%;
                                                                }
                                                            }
                                                        }  
                                                    .banner-2{
                                                        height: 80%;
                                                        .card-1{
                                                            height: 80%;
                                                            width: 80%;
                                                        }
                                                    }
                                                    .footer{
                                                        .footer-hijo{
                                                            flex-direction: row;
                                                            gap: 60px;
                                                        }
                                                        .logo-nick a{
                                                            font-size: 30px;
                                                            color: #000000;
                                                            font-weight: bold;
                                                            display: flex;
                                                            justify-content: center;
                                                            img{
                                                            width: 20%;
                                                        }
                                                    }
                                                }
                            
                            
                            }     
                            @media (min-width: 992px) {
                                .navbar{
                                    .logo{
                                        img{
                                            width: 30%;
                                           }
                                       }
                                    }
                                    .footer{
                                        .footer-hijo{
                                            gap: 120px;
                                        }
                                        .logo-nick a{
                                            font-size: 30px;
                                            color: #000000;
                                            font-weight: bold;
                                            display: flex;
                                            justify-content: center;
                                            img{
                                            width: 20%;
                                        }
                                    }
                                }

                            }        
                            @media (min-width: 1200px) {
                                .navbar{
                                    .logo{
                                        img{
                                            width: 15%;
                                           }
                                       }
                                    }
                                    .banner{
                                        .text-flayer{
                                            max-width: 90%;
                                            h1{
                                                font-size: 50px;
                                            }
                                            h2{
                                                font-size: 40px;
                                            }
                                            p{
                                                font-size: 35px;
                                            }
                                        }
                                    }
                                    .banner-1{
                                       .card-1{
                                           .subtitle-card-1{
                                               text-align: center;
                                           }
                                           margin-top: 100px;
                                           max-width: 90%;
                                           height: 60%;
                                               a{
                                                   width: 80%;
                                               }
                                           }
                                       }  
                                   .banner-2{
                                       height: 80%;
                                       .card-1{
                                           height: 80%;
                                           width: 80%;
                                       }
                                   }
                                .footer{
                                    .footer-hijo{
                                        gap: 300px;
                                    }
                                    .logo-nick a{
                                        font-size: 30px;
                                        color: #000000;
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: center;
                                        img{
                                        width: 20%;
                                    }
                                }
                            }
                        }                           

}