.Home{
    width: 100vw;
    height: 100vh;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    height: 85%;
}

.filter{
    width: 100%;
    height: 56px;
    background-color: #3948DF;
}

#arrowBack{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}