.overlay{
    border-radius: 5px;
    padding: 5%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFBC4B;
}

#btnReservar{
    width: 100px;
    height: 40px;
    background-color: #56C45C;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#btnReservar:hover{
    background-color:rgb(56, 196, 13);
}

h4 {
    text-align: center;
}