*{
  padding: 0;
  margin: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans';
  background: -webkit-linear-gradient(90deg, #e0e0e0 ,#d6d8d8,#9b9b9b,#646464,#4f4e4e);
  background: linear-gradient(90deg, #e0e0e0,#d6d8d8,#9b9b9b,#646464,#333333);
}

.headerDiv{
  background-image: url("../img/intro-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
