*{
  padding: 0;
  margin: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans';
}

.headerDiv{
  background-image: url("../img/intro-bg71.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
